# Python virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
config.json

# uv cache / local project files
.uv/

# VS Code workspace settings
.vscode/

# Mac files
.DS_Store

# Windows NTFS "downloaded from internet" sidecar files
*:Zone.Identifier

# vectore stores
*_db/

# LangGraph dev local cache
.langgraph_api/

